.site-header-image {
    min-width: 150px;
    max-width: 300px;
}

.menu-section-header {
    padding-left: 10px;
    font-weight: bold;
}

.mobile-nav-btn {
    position: absolute;
    right: 16px;
    top: 24px;
}