.contact-body-wrapper {
    display: flex;
    flex-direction: row;
    .location-card {
        flex: 1;
        .answered-24 {
            color: red;
        }
    }
}

@media(max-width: 767px) {
    .contact-body-wrapper {
        flex-direction: column;
    }
}