.contact-body-wrapper {
    display: flex;
    flex-direction: row;
    .location-card {
        flex: 1;
        margin: 0 8px;
        .card-title {
            padding: 8px 8px 0 8px;
        }
    }
}