<div class="container">
    <div class="jumbotron page-header">
        <h1 class="display-4">
            Trico Mechanical Contractors
        </h1>
        <hr class="my-1">
    </div>
    <div class="home-body-wrapper">
        <card class="who-we-are-card" [cardTitle]="'Who we are:'" [cardClass]="'who-we-are-card'">
            <p class="card-text">
                {{ whoWeAreText }}
            </p>
        </card>
        <card class="specialties-card" [cardTitle]="'Specialties'" [cardClass]="'specialties-card'">
            <ul>
                <li>Pulp Mill</li>
                <li>Paper Machine</li>
                <li>Power</li>
                <li>Field Services</li>
                <li>Custom Fabrication</li>
            </ul>
        </card>
    </div>
</div>