<div class="container">
    <div class="jumbotron page-header">
        <h1 class="display-4">
            Trico Mechanical Contractor, General Contractor
        </h1>
        <hr class="my-1">
    </div>
    <div class="home-body-wrapper">
        <div class="card mb-3 who-we-are-card">
            <h3 class="card-title">Who we are:</h3>
            <hr class="my-1">
            <div class="card-body">
                <p class="card-text">
                    {{ whoWeAreText }}
                </p>
            </div>
        </div>
        <div class="card mb-3 specialties-card">
            <h3 class="card-title">Specialties</h3>
            <hr class="my-1">
            <div class="card-body">
                <p>
                    - Pulp Mill<br/>
                    - Paper Machine<br/>
                    - Power<br/>
                    - Field Service<br/>
                    - Custom Fabrication
                </p>
            </div>
        </div>
    </div>
</div>