<div class="container">
    <div class="jumbotron page-header">
        <h1 class="display-4">
            Services & Specialties
        </h1>
    </div>
    <div class="specialties-wrapper">
        <div class="card mb-3 services-card">
            <div class="card-body">
                <p class="card-text">
                    Trico owns 6 fully stocked tool trailers along with an extensive stock of specialty equipment.<br/>
                </p>
                <ul class="card-text">
                    <li>We have automatic overlay equipment that we use on small overlay jobs</li>
                    <li>We also have our own heating equipment for preheating weld joints</li>
                    <li>Merit shop servicing mills around the country</li>
                    <li>Specializing in Kamyr digesters and associated equipment</li>
                    <li>We maintain NBIC “R” Stamp, ASME “S” and ASME “U” stamps, which allows us to perform Code repairs to pressure vessels and fabricate code items.</li>
                    <li>Moveable platforms for all sizes of continuous digesters</li>
                    <li>Umbrella scaffolding for batch digester work</li>
                    <li>Our QC Manager is Harland Webber. He has been with Trico for 30 years and was a former QC Manager with GE.</li>
                    <li>We do Code Calculations in house which allows us to keep the cost down and respond quickly.</li>
                    <li>Trico maintains numerous Digester climber scaffolds which can accommodate vessels from 10’ I.D. to 26’ I.D. and at any height.</li>
                    <li>Trico owns, inspects and maintains a stock of 26 Skyclimber motors which allow us to better respond to emergency situations.</li>
                    <li>Ability to install multiple skyclimber platforms to accommodate work from multiple levels at the same time.</li>
                </ul>
            </div>
        </div>
        <div class="card mb-3 specialties-card">
            <h4 class="card-title">Specialties</h4>
            <hr class="my-1">
            <div class="card-body">
                <ul class="card-text">
                    <li>Pulp Mill</li>
                    <li>Paper Machine</li>
                    <li>Power</li>
                    <li>Field Services</li>
                    <li>Custom Fabrication</li>
                </ul>
            </div>
        </div>
    </div>
</div>