.specialties-wrapper {
    display: flex;
    justify-content: space-around;

    .services-card {
        flex: 3;
        margin: 0 8px;
    }

    .specialties-card {
        flex: 1;
        margin: 0 8px;
        .card-title {
            padding: 8px 8px 0 8px;
        }
    }
}

@media (min-width: 961px) {
    .specialties-wrapper {
        flex-direction: row;
    }
}

@media (max-width: 960px) {
    .specialties-wrapper {
        flex-direction: column;
    }
}