<div class="container">
    <div class="jumbotron page-header">
        <h1 class="display-4">
            Customer References
        </h1>
    </div>
    <div class="references-wrapper">
        <div class="card mb-3 reference-card" *ngFor="let reference of references">
            <h4 class="card-title">{{ reference.name }}</h4>
            <hr class="my-1">
            <div class="card-body">
                <div *ngFor="let location of reference.locations">
                    <h5>{{location.location}}</h5>
                    <ul class="card-text">
                        <li *ngFor="let note of location.notes">{{note}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>